= form_for @recipe, :as => :recipe_form, :url => recipe_path(@recipe) do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title do
      Title
      = f.text_field :title, :class => "input-xxlarge"
  .field
    %div{:class => 'wmd-panel'}
      %div{:id => 'wmd-button-bar'}
      %textarea{:class => 'wmd-input', :id => 'wmd-input'}
    %div{:id => 'wmd-preview', :class => 'wmd-panel wmd-preview'}
  .field
    = f.label :commit_message, "Update Message" do
      Update Message
      = f.text_field :commit_message, :value => "", :class => "input-xxlarge"
  .field
    = f.label :tag_list do
      Tags (seperated by commas)
      = f.text_field :tag_list, :class => "input-xxlarge"
  .actions
    = link_to 'Back', :back, :class => "action-btn back"
    = f.submit 'Save', :class => "action-btn save"
