%p#notice= notice

%p
  %b Title:
  = @recipe.title
%p
  %b Body:
  = @recipe.body
%p
  %b Commit message:
  = @recipe.commit_message
%p
  %b Revision:
  = @recipe.revision
%p
  %b User:
  = @recipe.user.id

= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
