%p
  %h3= @recipe.title

%p
  = RDiscount.new(@recipe.body).to_html.html_safe

%hr

%p
  %b Commit message:
  = @recipe.commit_message
%p
  %b Revision:
  = @recipe.revision

= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Revisions', "/#{@recipe.user.slug}/#{@recipe.slug}/revisions"
\|
= link_to 'Fork', "/#{@recipe.user.slug}/#{@recipe.slug}/fork", :method => :post
\|
= link_to 'Delete', recipe_path(@recipe), :confirm => 'Are you sure you want to delete this recipe?', :method => :delete
\|
= link_to 'Back', recipes_path
