%p
  %h3= @recipe.title

%p
  %pre
    = @recipe.body

%hr

%p
  %b Commit message:
  = @recipe.commit_message
%p
  %b Revision:
  = @recipe.revision

= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Revisions', recipe_recipe_revisions_path(@recipe)
\|
= link_to 'Back', recipes_path
