- if current_user == @recipe.user
  = link_to 'Edit', edit_recipe_path(@recipe)
  \|
  = link_to 'Delete', recipe_path(@recipe), :confirm => 'Are you sure you want to delete this recipe?', :method => :delete
  \|
- if user_signed_in? && current_user != @recipe.user
  = link_to 'Fork', fork_recipe_path(@recipe), :method => :post
  \|
= link_to 'Revisions', recipe_revisions_path(@recipe)
\|
= link_to 'Back', recipes_path(@recipe.user)

%p
  %h4= "#{@recipe.user.username} / #{@recipe.slug}"
  - if @forked_from_recipe
    - recipe_url = "/#{@forked_from_recipe.user.username}/#{@forked_from_recipe.slug}"
    - link_text  = @forked_from_recipe.slug
    - user_url = "/#{@forked_from_recipe.user.username}"
    %h5= "Forked from #{link_to @forked_from_recipe.user.username, user_url} / #{link_to link_text, recipe_url}".html_safe

%hr
%p
  %h3= @recipe.title

%p
  = RDiscount.new(@recipe.body).to_html.html_safe

%hr

%p
  %b Commit message:
  = @recipe.commit_message
%p
  %b Revision:
  = @recipe.revision
