%p
  %h3.recipe-title= "#{link_to(@recipe.user.username, user_path(@recipe.user))} / #{@recipe.title}".html_safe
  - if @forked_from_recipe
    - recipe_url = "/#{@forked_from_recipe.user.username}/#{@forked_from_recipe.slug}"
    - link_text  = @forked_from_recipe.slug
    - user_url = "/#{@forked_from_recipe.user.username}"
    %h5.fork-note= "Forked from #{link_to @forked_from_recipe.user.username, user_url} / #{link_to link_text, recipe_url}".html_safe

= render "actions-menu" 

%div.recipe
  = RDiscount.new(@recipe.body).to_html.html_safe

= render "actions-menu" 

.recipe-meta
  %p
    %i.fa.fa-quote-left
    %b Update Message:
    = @recipe.commit_message
  %p
    %i.fa.fa-tags
    %b Tags:
    = @recipe.tag_list
  %p
    %i.fa.fa-clock-o
    %b Revision:
    = @recipe.revision
