- if current_user != @recipe.user
  = link_to 'Fork', fork_recipe_path(@recipe), :method => :post, :class => "btn"

- if !current_user.try(:following?, @recipe.user) && current_user != @recipe.user
  = link_to "Follow #{@recipe.user.username}", user_follow_path(@recipe.user), :class => "btn", :method => :post
- elsif current_user != @recipe.user
  = link_to "Unfollow #{@recipe.user.username}", user_unfollow_path(@recipe.user), :class => "btn", :method => :post

- if @recipe.revision > 1
  = link_to "Revisions - #{@revision_count}", recipe_revisions_path(@recipe), :class => "btn", :id => "revisions_button"

- if current_user == @recipe.user
  = link_to 'Edit', edit_recipe_path(@recipe), :class => "btn"
  = link_to 'Delete', recipe_path(@recipe), :confirm => 'Are you sure you want to delete this recipe?', :method => :delete, :class => "btn btn-danger"

= link_to "Forks - #{@forks}", forks_path(@recipe), :class => 'btn'
= link_to "Save to your recipes", recipe_upvote_path(@recipe), :class => 'btn'

%hr
%p
  %h3.recipe-title= "#{link_to(@recipe.user.username, user_path(@recipe.user))} / #{@recipe.title}".html_safe
  - if @forked_from_recipe
    - recipe_url = "/#{@forked_from_recipe.user.username}/#{@forked_from_recipe.slug}"
    - link_text  = @forked_from_recipe.slug
    - user_url = "/#{@forked_from_recipe.user.username}"
    %h5= "Forked from #{link_to @forked_from_recipe.user.username, user_url} / #{link_to link_text, recipe_url}".html_safe

%div.recipe
  = RDiscount.new(@recipe.body).to_html.html_safe

%hr
%p
  %b Update Message:
  = @recipe.commit_message
%p
  %b Tags:
  = @recipe.tag_list
%p
  %b Revision:
  = @recipe.revision
