- if current_user && !current_user.following?(@user)
  = link_to 'Follow', user_follow_path(@user), :class => "btn", :method => :post
- elsif current_user
  = link_to 'Unfollow', user_unfollow_path(@user), :class => "btn", :method => :post

- if !@recipes.empty?
  %p
    - if current_user == @user
      %h3 Your Recipes
    - else
      %h3= "#{@user.username}'s Recipes"
  %ul
    - @recipes.each do |recipe|
      %li= link_to recipe.title, "/#{@user.username}/#{recipe.slug}"

%br
%br
= link_to "New Recipe", new_recipe_path
