= link_to "Forking Recipes", root_path, :class => 'brand'
%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
%ul.nav.pull-left
  %li.browse-item.large-screen
    = link_to("Browse", "/browse")
  - if user_signed_in?
    %li.your-item
      = link_to("Your Recipes", current_user)
    %li.new-item
      = link_to 'Create a new recipe', new_user_recipe_path(current_user)
  %li.search-item.large-screen
    = form_tag('/search', :method => 'POST', :class => 'navbar-form') do
      = text_field_tag('query', nil, :placeholder => 'Search')
      %i.fa.fa-search
      = button_tag('Search', :class => 'btn')
