!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= @page_title || "ForkingRecipes"
    %meta{:content => "", :name => "description"}
    %meta{:content => "David Pick and Andy Standfield", :name => "author"}
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700|Cookie", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{"data-controller" => controller_name, "data-action" => action_name}
    .navbar.navbar-fixed-top
      .navbar-inner
        = render 'layouts/navigation'
    #main{:role => "main"}
      %div{:id => "main-container"}
        .main-content
          = render 'layouts/messages'
          = yield
        %aside.sidebar
          %ul.nav.nav-list
            - if current_user
              %li.nav-header Your Recipes
              - @recipes.each do |recipe|
                %li
                  %a{:href => recipe_path(recipe)}= recipe.title
            - else
              %li.nav-header Featured Users
              - @users.each do |user|
                %li
                  %a{:href => user_path(user)}= user.username
    %footer
      %aside.footer-info
        %a{:href => "mailto:forkingrecipes@gmail.com"}
          Contact Us



    - if Rails.env == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37615923-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
