!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= @page_title || "ForkingRecipes"
    %meta{:content => "", :name => "description"}
    %meta{:content => "David Pick and Andy Standfield", :name => "author"}
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300,400,700|Merriweather:400,400italic,300italic,300,700,700italic|Source+Code+Pro", :rel => "stylesheet", :type => "text/css"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel=>"stylesheet"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{"data-controller" => controller_name, "data-action" => action_name}
    .navbar.navbar-fixed-top
      .navbar-inner
        = render 'layouts/navigation'
    #main{:role => "main"}
      %div{:id => "main-container"}
        .main-content
          = render 'layouts/messages'
          = yield
    %footer
      %aside.footer-info
        %a{:href => "mailto:forkingrecipes@gmail.com", :class=>"contact-link"}
          Contact Us
          %i.fa.fa-envelope
        .copyright
          Copyright &copy; 2014, 
          %a{:href => "https://twitter.com/forkingrecipes", :class=>"forking-recipes"} 
            ForkingRecipes
            %i.fa.fa-twitter



    - if Rails.env == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37615923-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
